@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,600;0,700;1,400;1,600&family=Original+Surfer&family=Tangerine:wght@700&display=swap');
/* font-family: 'Original Surfer', cursive; */
/* font-family: 'Tangerine', cursive; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #242122;
}
.btn-0{
    background-color: #1d9d8f;
    padding: 0.5rem;
    border-radius: 3rem;
}
.navbar{
    border-bottom: 1px solid #1d9d8f;
}
.navbar-brand{
    font-family: 'Original Surfer', cursive;
    font-size: 1.5rem;
}

.logo{
    color: #1d9d8f;
}
.header{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
@media (min-width: 300px) { 
    .img {
        height: 10rem;
        width: 15rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
 }
@media (max-width: 575.98px) { 
    .header{
        margin-top: 2rem;
    }
    .img {
        height: 15rem;
        width: 20rem;
        margin-top: 2rem;
      }
 }
@media (min-width: 768px) { 
    .img {
        height: 23rem;
        width: 25rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
 }
@media (min-width: 992px) { 
    .img {
        height: 25rem;
        width: 30rem;
      }
 }
@media (min-width: 1200px) { 
    .img {
        height: 25rem;
        width: 30rem;
      }
 }
@media (min-width: 1400px) { 
    .img {
        height: 35rem;
        width: 35rem;
        
      }
 }
.btn-1{
    background-color: #1d9d8f;
    font-weight: bold;
    padding: 0.8rem;
}
.btn-1:hover{
    background: #fff;
    color: #1d9d8f;
}
.btn-2{
    color: #1d9d8f;
    padding: 0.7rem;
}
.btn-2:hover{
    color: #fff;
}
